<div style="margin-left: auto; margin-right: auto; width: 980px;">
  <p-growl [value]="toasts"></p-growl>
  <div class="header">
    Byte Buddies - {{byteBuddies?.byteCoins}} ByteCoins - <span class="golden-bits">{{byteBuddies?.goldenBits}} Golden Bits</span>
  </div>
  <div style="min-height: 575px;">
    <div style="width: 425px; float: left; padding-right: 6px;">
      <kendo-tabstrip [keepTabContent]="true">
        <kendo-tabstrip-tab [title]="'Hard Drive'" [selected]="true">
          <ng-template kendoTabContent>
            <canvas #hddCanvas width="{{canvasWidth}}" height="{{canvasHeight}}" style="background: #AAAAAA; border:2px solid #666666;"></canvas>
            <div style="width: 100%">
              <button style="float: left; margin: 4px 4px 0 0;" kendoButton (click)="sellAllBuddies(false)" [primary]="true">Sell All Mature</button>
              <button style="float: left; margin: 4px 4px 0 0;" kendoButton (click)="sellAllBuddies(true)" [primary]="true">Sell All Worth 2x Base</button>
              <div style="float: left; font-size: 14px;">
                <div>{{currEggs}} / {{byteBuddies.ram?.capacity}} Eggs</div>
                <div>{{byteBuddies.buddies.length}} / {{byteBuddies.hdd?.capacity}} Buddies</div>
              </div>
            </div>
            <div *ngIf="selectedBuddy" class="tile" style="float: left; width: 95%">
              <div class="tile-title">Selected Buddy</div>
              <div>Name: {{selectedBuddy.evolution + selectedBuddy.name}}</div>
              <div>Age: {{selectedBuddy.age}}</div>
              <div>Sell Price: {{selectedBuddy.sellPrice}}bytc</div>
              <button kendoButton (click)="sellBuddy()" [primary]="true" [disabled]="selectedBuddy.sellPrice === 0">Sell</button>
              <button kendoButton (click)="collectBuddy(selectedBuddy)" [disabled]="selectedBuddy.collectCost > byteBuddies.goldenBits"
                class="golden-bits">
                Collect in SSD for {{selectedBuddy.collectCost}}gb
                </button>
            </div>
          </ng-template>
        </kendo-tabstrip-tab>
        <kendo-tabstrip-tab [title]="'Solid State Drive'">
          <ng-template kendoTabContent>
            <canvas #ssdCanvas width="{{canvasWidth}}" height="{{canvasHeight}}" style="background: #EEEEAA; border:2px solid #AAAA77;"></canvas>
            <div *ngIf="selectedSsdBuddy" class="tile" style="float: left; width: 95%">
              <div class="tile-title">Selected Buddy</div>
              <div>Name: {{selectedSsdBuddy.name}}</div>
              <div>Age: {{selectedSsdBuddy.age}}</div>
              <div>Sell Price: {{selectedSsdBuddy.sellPrice}}bytc</div>
              <button kendoButton (click)="sellSsdBuddy()" [primary]="true" [disabled]="selectedSsdBuddy.sellPrice === 0">Sell (No gb refund)</button>
            </div>
          </ng-template>
        </kendo-tabstrip-tab>
      </kendo-tabstrip>
    </div>
    <div style="min-width: 420px;">
      <kendo-tabstrip style="max-width: 550px">
        <kendo-tabstrip-tab [title]="'Byte Buddies'">
          <ng-template kendoTabContent>
            <kendo-tabstrip>
              <kendo-tabstrip-tab [title]="'Purchase Eggs'" [selected]="true">
                <ng-template kendoTabContent>
                  <div style="height: 494px; overflow-y: automatic;">
                    <div *ngFor="let buddy of purchaseableBuddies">
                      <div>{{buddy.name}}</div>
                      <div>
                        <button kendoButton (click)="buyBuddy(buddy)" [primary]="true" [disabled]="buddy.initCost > byteBuddies.byteCoins ||
                      currEggs === byteBuddies.ram?.capacity || byteBuddies.buddies.length === byteBuddies.hdd.capacity">Buy for {{buddy.initCost}}bytc</button>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </kendo-tabstrip-tab>
              <kendo-tabstrip-tab [title]="'Breeding'">
                <ng-template kendoTabContent>
                  <div style="min-height: 494px">
                    <div *ngIf="+byteBuddies.gpu.level === 1">
                      You need the first GPU upgrade in order to breed your Byte Buddies.
                    </div>
                    <div *ngIf="+byteBuddies.gpu.level > 1">
                      <div>
                        Select 2 byte buddies to breed them. BOTH WILL BE LOST WHEN BRED - Be sure to clone if you want to keep him!
                      </div>
                      <kendo-dropdownlist [data]="byteBuddies.buddies" [ngModel]="breedBuddy1" [textField]="'fullName'" [valueField]="'age'" (selectionChange)="breed1Change($event)">
                      </kendo-dropdownlist>
                      <kendo-dropdownlist [data]="byteBuddies.buddies" [ngModel]="breedBuddy2" [textField]="'fullName'" [valueField]="'age'" (selectionChange)="breed2Change($event)">
                      </kendo-dropdownlist>
                      <br />
                      <div *ngIf="breedStats">
                        <div>Evolve Chance: {{breedStats.evolveChance}}%</div>
                        <div>Same Type Chance: {{breedStats.sameChance}}%</div>
                        <div *ngIf="breedStats.devolveChance > 0">Devolve Chance: {{breedStats.devolveChance}}%</div>
                        <button kendoButton (click)="breedBuddies()" [primary]="true" [disabled]="currEggs === byteBuddies.ram?.capacity || byteBuddies.buddies.length === byteBuddies.hdd.capacity">Breed!</button>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </kendo-tabstrip-tab>
              <kendo-tabstrip-tab [title]="'Cloning'">
                <ng-template kendoTabContent>
                  <div style="min-height: 494px">
                    <div>
                      The cloning technology only works on evolved Buddies. Select one to see the costs to clone. You can't clone past the egg
                      or buddy limit.
                    </div>
                    <kendo-dropdownlist [data]="byteBuddies.buddies" [ngModel]="cloneBuddy" [textField]="'fullName'" [valueField]="'age'" (selectionChange)="cloneChange($event)">
                    </kendo-dropdownlist>
                    <div *ngIf="cloneStats">
                      <div>ByteCoin Cost: {{cloneStats.byteCoinCost}}bytc</div>
                      <div>GoldenBit Cost: {{cloneStats.goldenBitCost}}gb</div>
                      <button kendoButton (click)="clonedBuddy()" [primary]="true" [disabled]="currEggs === byteBuddies.ram?.capacity ||
                     byteBuddies.buddies.length === byteBuddies.hdd.capacity || byteBuddies.byteCoins < cloneStats.byteCoinCost || 
                     byteBuddies.goldenBits < cloneStats.goldenBitCost">Clone!</button>
                    </div>
                  </div>
                </ng-template>
              </kendo-tabstrip-tab>
            </kendo-tabstrip>
          </ng-template>
        </kendo-tabstrip-tab>
        <kendo-tabstrip-tab [title]="'Upgrades'">
          <ng-template kendoTabContent>
            <div *ngIf="!nextHdd && !nextGpu && !nextCpu && !nextRam">
              You've purchased all of the upgrades!
            </div>
            <div class="tile" *ngIf="nextHdd">
              <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--6-col">
                  <div class="tile-title">Hard Drive</div>
                  <div>{{nextHdd.name}}</div>
                  <div>{{nextHdd.desc}}</div>
                  <div>
                    <button kendoButton (click)="buyHdd(nextHdd)" [primary]="true" [disabled]="nextHdd.cost > byteBuddies.byteCoins">Buy for {{nextHdd.cost}}bytc</button>
                  </div>
                </div>
                <div class="mdl-cell mdl-cell--6-col">
                  Allows you to own {{nextHdd.capacity}} total Byte Buddies at once.
                </div>
              </div>
            </div>
            <div class="tile" *ngIf="nextCpu">
              <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--6-col">
                  <div class="tile-title">Processor</div>
                  <div>{{nextCpu.name}}</div>
                  <div>{{nextCpu.desc}}</div>
                  <div>
                    <button kendoButton (click)="buyCpu(nextCpu)" [primary]="true" [disabled]="nextCpu.cost > byteBuddies.byteCoins">Buy for {{nextCpu.cost}}bytc</button>
                  </div>
                </div>
                <div class="mdl-cell mdl-cell--6-col">
                  Unlocks more Byte Buddies!
                </div>
              </div>
            </div>
            <div class="tile" *ngIf="nextGpu">
              <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--6-col">
                  <div class="tile-title">Graphics Card</div>
                  <div>{{nextGpu.name}}</div>
                  <div>{{nextGpu.desc}}</div>
                  <div>
                    <button kendoButton (click)="buyGpu(nextGpu)" [primary]="true" [disabled]="nextGpu.cost > byteBuddies.byteCoins">Buy for {{nextGpu.cost}}bytc</button>
                  </div>
                </div>
                <div class="mdl-cell mdl-cell--6-col">
                  <span *ngIf="nextGpu.$key == 2">
                  Allows you to breed your Byte Buddies!
                </span>
                  <span *ngIf="nextGpu.$key >= 3">
                  Opens the next tier of breeding!
                </span>
                </div>
              </div>
            </div>
            <div class="tile" *ngIf="nextRam">
              <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--6-col">
                  <div class="tile-title">RAM</div>
                  <div>{{nextRam.name}}</div>
                  <div>{{nextRam.desc}}</div>
                  <div>
                    <button kendoButton (click)="buyRam(nextRam)" [primary]="true" [disabled]="nextRam.cost > byteBuddies.byteCoins">Buy for {{nextRam.cost}}bytc</button>
                  </div>
                </div>
                <div class="mdl-cell mdl-cell--6-col">
                  Allows you to have {{nextRam.capacity}} Eggs at once.
                </div>
              </div>
            </div>
          </ng-template>
        </kendo-tabstrip-tab>
        <kendo-tabstrip-tab [title]="'Stats'">
          <ng-template kendoTabContent>
            <div style="height: 494px; overflow-y: automatic;">
              <div *ngIf="byteBuddies.stats.length === 0">
                You don't have any stats?
              </div>
              <div class="mdl-grid" style="padding: 0; font-size: 12px; line-height: 12px;" *ngFor="let stat of byteBuddies.stats">
                <div class="mdl-cell mdl-cell--6-col" style="padding: 0; margin: 4px;">{{stat.name}}:</div>
                <div class="mdl-cell mdl-cell--6-col" style="padding: 0; margin: 4px;">{{stat.value}}</div>
              </div>
            </div>
          </ng-template>
        </kendo-tabstrip-tab>
        <kendo-tabstrip-tab [title]="'Achievements'" [selected]="true">
          <ng-template kendoTabContent>
            <div style="height: 494px; overflow-y: automatic;">
              <div *ngFor="let chiev of allAchievements">
                <div class="mdl-grid achievement-box" [ngClass]="{'achieved': checkAchievement(chiev.ID)}" style="padding: 0; font-size: 12px; line-height: 12px;">
                  <div class="achievement-image" style="padding-right: 5px; background-image: url({{chiev.image}});">
                  </div>
                  <div style="width: calc(100% - 55px);">
                    <div class="mdl-grid">
                      <div class="mdl-cell mdl-cell--12-col achievement-title" style="padding: 0; margin: 4px;">{{chiev.name2}}</div>
                      <div class="mdl-cell mdl-cell--6-col" style="padding: 0; margin: 4px;">
                        <span class="achievement-desc" [ngClass]="{'achieved-desc': checkAchievement(chiev.ID)}">{{chiev.description}}</span>
                      </div>
                      <div class="mdl-cell mdl-cell--3-col" style="padding: 0; margin: 4px;">
                        Reward: {{chiev.byteReward ? chiev.byteReward : 0}}bytc <span class="golden-bits">{{chiev.goldReward ? chiev.goldReward : 0}}gb</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </kendo-tabstrip-tab>
        <kendo-tabstrip-tab [title]="'Help'">
          <ng-template kendoTabContent>
            <ul>
              <li>Buy Byte Buddies as eggs, hatch them and raise them and sell them when they're older to turn a profit!</li>
              <li>Golden Bits have a chance to drop when hatching a buddy equal to 1/10th of their cost.</li>
              <li>Golden Bits can be used to populate your SSD or for cloning fish in your HDD.</li>
              <li>Upgrading your HDD increases the number of buddies you can have at once.</li>
              <li>Upgrading your CPU allows you to purchase different buddies.</li>
              <li>Upgrading your GPU raises how far you can breed your buddies.</li>
              <li>Upgrading your RAM allows more eggs to be hatching at once.</li>
              <li>Sell All doesn't sell any evolved buddies.</li>
            </ul>
          </ng-template>
        </kendo-tabstrip-tab>
        <kendo-tabstrip-tab [title]="'Options'">
          <ng-template kendoTabContent>
            <div>
              <button kendoButton (click)="saveGame()" [primary]="true">Manual Save</button>
            </div>
            <br />
            <div>
              <button kendoButton (click)="clearSave()" [primary]="true">Erase Data &amp; Start Over</button>
            </div>
          </ng-template>
        </kendo-tabstrip-tab>
      </kendo-tabstrip>
    </div>
  </div>
</div>