.header {
    font-size: 36px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-bottom: 20px;
    line-height: 36px;
}

.golden-bits {
    color: darkgoldenrod;
}