<div>
  Do thingssssss
  <br/>
  <br/>
  <form [formGroup]="form">
    <input type="text" placeholder="Name" formControlName="name">
    <input type="text" placeholder="Init Cost" formControlName="initCost">
    <input type="text" placeholder="Min Price" formControlName="minPrice">
    <input type="text" placeholder="Mature Time" formControlName="matureTime">
    <input type="text" placeholder="Death Rate" formControlName="deathRate">
    <br/>
    <br/>
    <input type="text" placeholder="Required CPU" formControlName="requiredCPU">
    <input type="text" placeholder="Cost to Collect" formControlName="collectCost">
    <br/>
    <br/>
    <label>Submit</label>
    <img src="assets/eggcracking.png" (click)="Save()" width="25px" height="25px">
  </form>
  <br/>
  <br/> Do moreeee thingssssss
  <br/>
  <br/>
  <form [formGroup]="form2">
    <input type="text" placeholder="ID" formControlName="ID">
    <input type="text" placeholder="Name" formControlName="name2">
    <input type="text" placeholder="Description" formControlName="description">
    <input type="text" placeholder="Byte Reward" formControlName="byteReward">
    <input type="text" placeholder="Gold Reward" formControlName="goldReward">
    <input type="text" placeholder="Image" formControlName="image">
    <input type="text" placeholder="Type" formControlName="type">
        <label>Submit</label>
    <img src="assets/egg1.png" (click)="Save2()" width="25px" height="25px">
  </form>
</div>