<div>
  Do thingssssss
<form [formGroup]="form">
<input type="text" placeholder="Name" formControlName="name">
<input type="text" placeholder="Init Cost" formControlName="initCost">
<input type="text" placeholder="Min Price" formControlName="minPrice">
<input type="text" placeholder="Mature Time" formControlName="matureTime">
<input type="text" placeholder="Death Rate" formControlName="deathRate">
<br/>
<br/>
<input type="text" placeholder="Left Image" formControlName="left">
<input type="text" placeholder="Center Image" formControlName="center">
<input type="text" placeholder="Right Image" formControlName="right">
<input type="text" placeholder="Required Element" formControlName="requiredElement">
<br/>
<br/>
<label>Submit</label>
<img src="assets/rabbyte-center.png" (click)="Save()" width="25px" height="25px">
</form>
</div>